<fieldset class="form">
    <label class="form-label">
        Title
    </label>

    <input type="text" class="form-control" data-bind="textInput: layoutItem.title, validationElement: layoutItem.title" placeholder="i.e. Orders"
        maxlength="256" />

    <label class="form-label">
        URL template
    </label>
    <input type="text" class="form-control" data-bind="textInput: layoutItem.uriTemplate, validationElement: layoutItem.uriTemplate"
        placeholder="/" maxlength="2000" />

    <label class="form-label">
        Description
    </label>
    <textarea class="form-control" data-bind="textInput: layoutItem.description"></textarea>
</fieldset>

<div class="button-group">
    <!--ko if: isNotDefault-->
    <button class="button" data-bind="click: deleteLayout">
        <i class="paperbits-icon paperbits-simple-remove"></i>
        Delete layout
    </button>
    <!--/ko-->
</div>