@import "variables.scss";
@import "mixins.scss";

.btn,
.button {
    border: none;
    background: none;
    color: $color-base;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $workshop-button-height;
    min-width: $workshop-button-height;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    @include no-select;

    &:focus,
    &:hover {
        @include selection();
        outline: none;
        color: $color-base;
        cursor: pointer;
    }
}

.btn-group,
.button-group {
    padding-top: $workshop-padding;

    .button {
        margin-right: 20px;
    }
}

.btn-link {
    color: #99C248;
    text-decoration: none;
}
