@import "variables.scss";

@import "mixins.scss";

.button-round {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    border: 1px dashed #ccc;
    display: inline-block;
    font-weight: bold;
}

.button {
    border: none;
    background: none;
    color: $color-base;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $workshop-button-height;
    min-width: $workshop-button-height;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    @include no-select;

    &:hover,
    &:focus {
        @include selection();
        outline: none;
        color: $color-base;
        cursor: pointer;
    }

    &.button-tall {
        .icon {
            height: auto;
            padding: 0;
            padding-top: $workshop-button-height;
            background-position: top center;
        }
    }
}

.button-group {
    padding-top: $workshop-padding;

    .button {
        margin-right: 20px;
    }
}