@import "variables.scss";

@import "mixins.scss";

.button-round {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    border: 1px dashed #ccc;
    display: inline-block;
    font-weight: bold;
}

.button {
    border: none;
    background: none;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $workshop-button-height;
    @include no-select;

    &:hover,
    &:focus {
        background: $hover-color;
        outline: 1px dashed $button-border-color;
        cursor: pointer;
    }

    .icon {
        display: inline-block;
        height: $workshop-button-height;
        padding: 0;
        padding-left: $workshop-button-height;
        background-position: left center;
    }

    &.button-tall {
        .icon {
            height: auto;
            padding: 0;
            padding-top: $workshop-button-height;
            background-position: top center;
        }
    }
}

.button-group {
    padding-top: $workshop-padding;

    .button {
        margin-right: 20px;
    }
}