@import "variables.scss";

@import "toolboxes.scss";

@import "animation.scss";

@import "buttons.scss";

$droppedcontent-preview-size: 70px;

dropbucket {
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: $z-index-base;

    .droppedcontent {
        @include surface();
        position: relative;
        border-radius: $toolbox-border-radius;
        padding-right: 50px;
    }

    .droppedcontent-preview {
        width: $droppedcontent-preview-size;
        height: $droppedcontent-preview-size;
        background-image: data-uri("../svgs/icons-unknown.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: block;
        float: left;
    }

    .droppedcontent-details {
        margin: 10px;
        float: left;

        .droppedcontent-details-description {
            display: inline-block;
            max-width: 120px;
            @include text-overflow();
        }
    }

    .list-item {
        position: relative;
    }

    .button {
        height: $droppedcontent-preview-size;
    }
}
