@import "variables.scss";

@import "mixins.scss";

@import "icons.scss";

.form {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 250px;

    .form-group {
        display: block;
        margin-bottom: 20px;
        overflow: hidden;
        width: 100%;
    }

    .help {
        @extend .icon-info;
        width: $workshop-help-button-size;
        height: $workshop-help-button-size;
        display: block;
        float: right;
        text-align: center;
        cursor: pointer;
        background-size: 70%;
    }

    label {
        width: 100%;
        display: block;
        font-weight: $font-weight-base;
    }

    input[type=text], input[type=search], textarea {
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-size: $textbox-font-size;

        &::placeholder {
            font-style: italic;
        }

        &:focus {
            outline: none;
        }

        @include box-shadow(inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15));
        box-sizing: border-box;
        border: none;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 7px;
    }

    input[type=search] {
        @extend .icon-search;
        background-position: 98% center;
        background-repeat: no-repeat;
        background-size: auto 60%;
    }

    input[type=radio] {
        margin: 0 5px;
    }

    .dropzone {
        margin-bottom: 20px;
        border-radius: 7px;
    }

    .textbox {
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-size: $textbox-font-size;

        &::placeholder {
            font-style: italic;
        }
        @include box-shadow(inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15));
        box-sizing: border-box;
        border: none;
    }

    .form-control {
        padding: 8px;
        width: 100%;
    }

    .form-label {
        padding: 5px 0;
    }

    textarea {
        @extend .textbox;
        resize: vertical;
        min-height: 100px;
    }

    
}

hr {
    display: block;
    border: none;
    border-bottom: 1px solid #E6E7E8;
    height: 1px;
    width: 100%;
    margin: 12px 0;
}