@import "variables.scss";
@import "mixins.scss";
@import "icons.scss";

.form {
    margin: 0;
    padding: 0;
    border: none;
    max-height: 500px;

    .form-group {
        display: block;
        margin-bottom: 20px;
        padding-bottom: 10px;
        overflow: hidden;
        width: 100%;

        &.form-group-collapsible {
            .form-label {
                position: unset;
            }

            .form-group-toggle {
                position: unset;
                padding: 3px;
                text-decoration: none;
                color: $surface-section-collapse-color;

                &:after {
                    content: "";
                    position: absolute;
                    top: 25px;
                    bottom: -10px;
                    left: 10px;
                    border-left: 1px dotted #ddd;
                }
            }

            .form-group-collapse {
                padding-left: 25px;
            }
        }
    }

    label {
        width: 100%;
        display: block;
        font-weight: 600;
    }

    input[type=search],
    input[type=text],
    textarea {
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-size: $textbox-font-size;
        border: .5px solid #BDBFC1;

        &::placeholder {
            font-style: italic;
        }

        &:focus {
            outline: none;
        }

        box-sizing: border-box;
        margin-bottom: 20px;
        width: 100%;
        
        &.has-error{
            color: red;
        }
    }

    input[type=search] {
        background-position: 98% center;
        background-repeat: no-repeat;
        background-size: auto 60%;
        background-blend-mode: exclusion;
    }

    input[type=radio] {
        margin: 0 5px;
    }

    .form-control {
        padding: 7px;
        width: 100%;
    }

    .form-label {
        padding: 5px 0;
    }

    textarea {
        resize: vertical;
        min-height: 100px;
    }
}

hr {
    display: block;
    border: none;
    border-bottom: 1px solid #E6E7E8;
    height: 1px;
    width: 100%;
    margin: 12px 0;
}

.tabs {
    border-bottom: 1px solid #E6E7E8;
    display: flex;

    .tab {
        a {
            width: 60px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 40px;
            color: $color-base;

            &:focus,
            &:active,
            &:hover {
                outline: none;
                @include selection();
            }
        }

        &.tab-is-active {
            border-bottom: 2px solid $tab-selected-color;
        }
    }
}
