@import "variables.scss";
@import "mixins.scss";
@import "icons.scss";

.form {
    margin: 0;
    padding: 0 15px 0 0;
    border: none;
    max-height: 500px;

    .form-group {
        display: block;
        margin-bottom: 20px;
        padding-bottom: 10px;
        overflow: hidden;
        width: 100%;

        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &.form-group-collapsible {
            .form-label {
                position: unset;
            }

            .form-group-toggle {
                position: unset;
                padding: 3px;
                text-decoration: none;
                color: $collapse-button-color;

                &:after {
                    content: "";
                    position: absolute;
                    top: 25px;
                    bottom: -10px;
                    left: 10px;
                    border-left: 1px dotted #ddd;
                }

                &:before {
                    @extend .paperbits-icon;
                    @extend .paperbits-circle-delete;
                }

                &.collapsed {
                    &:before {
                        @extend .paperbits-icon;
                        @extend .paperbits-circle-add;
                    }

                    &:after {
                        border: none;
                    }
                }
            }

            .form-group-collapse {
                padding-left: 25px;
            }
        }
    }

    input[type=search],
    input[type=text],
    textarea {
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-size: $textbox-font-size;
        border: .5px solid #BDBFC1;

        &::placeholder {
            font-style: italic;
        }

        &:focus {
            outline: none;
        }

        box-sizing: border-box;

        width: 100%;

        &.is-invalid {
            color: $color-danger;
            border-color: $color-danger;

            // :after {
            //     content: attr(title);
            //     display: 
            // }
        }
    }

    input[type=search] {
        background-position: 98% center;
        background-repeat: no-repeat;
        background-size: auto 60%;
        background-blend-mode: exclusion;
    }

    input[type=radio] {
        margin: 0 5px;
    }

    .form-control {
        padding: 7px;
        margin-bottom: 20px;
        width: 100%;
    }

    label {
        padding: 5px 0;
        display: block;
        font-weight: 600;
    }

    textarea {
        resize: vertical;
        min-height: 100px;
    }
}

hr {
    display: block;
    border: none;
    border-bottom: 1px solid #E6E7E8;
    height: 1px;
    width: 100%;
    margin: 12px 0;
}

.tabs {
    border-bottom: 1px solid #E6E7E8;
    display: flex;

    .tab {
        a {
            width: 60px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 40px;
            color: $color-base;

            &:active,
            &:focus,
            &:hover {
                outline: none;
                @include selection();
            }
        }

        &.tab-is-active {
            border-bottom: 2px solid $tab-selected-color;
        }
    }
}

.input-group {
    display: flex;
    margin-bottom: 20px;

    .form-control {
        flex-grow: 1;
        margin-bottom: 0;
    }

    .input-group-btn {}
}

.validation-message-toggle {
    position: relative;
    background: $color-danger;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 0 4px;

    &.shown:after {
        position: absolute;
        background: #000;
        content: attr(error);
        color: #fff;
        padding: 5px;
        right: 0;
        white-space: nowrap;
        top: -2.5em;
        font-weight: normal;
    }
}
