@import "variables.scss";
@import "icons.scss";
@import "mixins.scss";
@import "animation.scss";

.workshop {
    .workshop-journey {
        .workshop-journey-step {
            min-width: 300px;
            margin: 10px;
        }
    }
}

.toolbox.workshops-container {
    z-index: $z-index-base;
    min-height: 370px;

    .journey-container {
        padding: 10px 20px;
    }
}

.workshop {
    @include animation-fadein();
    padding: 10px;
    @media (min-width: $breakpoint-lg) {
        width: 80%;
    }
}

workshops {
    max-height: 80%;
}

.workshop:first-child {
    margin-left: 0;
}

.workshop:last-child {
    margin-right: 0;
}

.balloon {
    .list-container {
        width: 260px;
        max-height: 260px;
    }
}

hyperlink-selector {
    .list-container {
        max-height: 260px;
        max-width: 260px;
    }
}
