@font-face {
    font-family: 'JollyGoodSans-Basic';
    src: url('/theme/fonts/JollyGoodSans-Basic-webfont.woff2') format('woff2'),
         url('/theme/fonts/JollyGoodSans-Basic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size-base;
    color: #5B5F61;
}

ol,
p,
ul {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

.text-font-cursive {
    font-family: JollyGoodSans-Basic, Tahoma, Geneva, Verdana, sans-serif;
}

// h1 {
//     font-size: 2em;
// }

// h2 {
//     font-size: 1.3em;
//     margin-top: 30px;
//     margin-bottom: 20px;
// }
